<!DOCTYPE html>


<head></head>

<body>
  
<table border="0" style="border-collapse: collapse; width: 98.5359%; margin-left: auto; margin-right: auto;">

  <tbody>

    <tr>

      <td style="width: 99.9257%;">

        <table border="0" style="border-collapse: collapse; width: 650px; margin-left: auto; margin-right: auto;">

          <tbody>

            <tr>

              <td style="width: 226px;">
                <img style="width: 200px;" src="{{activity_logo}}" alt="">
              </td>

              <td style="width: 423px;">

                <h2>
                  <span style="color: #236fa1;">Actividad: {{activity_name}}</span>
                </h2>

                <h2>
                  <span style="color: #236fa1;">Tasker: {{staff_name}}</span>
                </h2>

                <h2>
                  <span style="color: #236fa1;">Estado: {{status}}</span>
                </h2>
                <h2>
                  <span style="color: #236fa1;">Fecha: {{date}}</span>
                </h2>

              </td>

            </tr>

          </tbody>

        </table>

      </td>

    </tr>

  </tbody>

</table>


</body>